*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos header */
header{
    background-color: aquamarine;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
}
header h1,footer p{
    margin-left: 20px;
}

/* Estilos main */
main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 450px;
}

/* Estilos Footer */
footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: beige;
}
main section{
    width: 300px;
    height: 70vh;
    border: solid 2px black;
    margin: 20px;
}


/* Media Queries para pantallas muy grand */
@media (min-width: 1400px){
    html{
        font-size: 120%;
    }
    main section{
        width: 30vw;
        height: 70vh;
    }
}
@media (min-width: 2500px){
    html{
        font-size: 300%;
    }
    main section{
        width: 30vw;
        height: 70vh;
    }
}